.container {
    height: 40vh;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_div{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left_div label{
    margin: 15px 0 15px 250px;
    width: 100%;
    font-size: 32px;
     font-weight: 500;
}
.right_div{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right_div h2{
    margin: 15px 0 15px 250px;
    width: 100%;
    font-size: 32px;
     font-weight: 500;
}

.check{
    border: 5px solid;
    margin-left:650px;
    font-weight: bold;
    font-size:16px ;
    height: 50px;
    width: 100px;
    border-radius: 30px;
    border-color:red yellow green ;
}

.check:hover{
    height: 55px;
    width: 105px;
}

#erorHeading{
    margin-left: 450px;
}